@import 'src/scss-shortcuts';

.select {
	width: 200px;
	height: 35px;
	border: none;
	border-radius: 10px;
	font-family: $bold-font;
	font-size: 20px;
	text-align: center;
	color: $text-on-background-color;
}
