.btn {
  font-size: 70px;
  padding: 0;
  background-color: #588157;
  color: #dad7cd;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}